.button {
    background-color: black; /* Green */
    width: 28px;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 30%;
  }

  .applecard {
    display: flex;
    flex-direction: column;
      height: 300px;
      width: 200px;
      background-color: brown;  
      color: white;
      justify-content: space-evenly;
    text-align: center;
  }

  
  .orangecard {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: orange;    
    color: white;
    justify-content: space-evenly;
    text-align: center;
  }

  .grapescard {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: green;    
    color: white;
    justify-content: space-evenly;
    text-align: center;
  }

  .box {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 30px;
  }

  .addRemove {
    /* width: 80px; */
  }

  .red {
    color: red;
}

.basket {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
}

.strips {
    
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    text-align: center;
}

.a {
    background-color: brown;
    width: 50px;
    height: 5px;
}

.o {
    background-color: gold;
    width: 50px;
    height: 5px;
}

.g {
    background-color: green;
    width: 50px;
    height: 5px;
}

.borderer {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
    margin: auto;
    border-style: solid;
    height: 150px;
    width: 50px;
    padding: 5px;
}

.parent {
    /* display: flex;
    flex-direction: column; 
     justify-content: space-evenly;  */

     display: block;
     
}